* {
    margin: 0;
    padding: 0;
}
#todo-list{
    padding: 30px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    background: #f9ce8d;
    border-radius: 15px;
}
#upper-part{
    padding: 10px 50px 10px 10px;
    width: 80%;
}
#listdiv{
    background: #fe9773;
    padding: 10px 40px 20px 20px;
    margin: 25px 0 0 0;
    border-radius: 0 0 10px 10px;
}
li text{
    margin-left: 100px;
}
